openapi: 3.0.0
info:
  title: 校园社区系统 API
  description: 本文档描述了校园社区系统的API接口，包括社团管理、帖子/动态管理、评论互动、收藏、举报及用户屏蔽等功能。
  version: 1.0.0
servers:
  - url: http://api.whggvc.imxiaohu.cn
    description: 生产服务器
  - url: http://localhost:2333
    description: 本地开发服务器

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Access-Token
  schemas:
    Response:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        code:
          type: integer
        result:
          type: object

    User:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        nickname:
          type: string
        avatar:
          type: string
        userType:
          type: string

    Club:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        logoUrl:
          type: string
        creatorId:
          type: integer
        memberCount:
          type: integer
        postCount:
          type: integer
        isOfficial:
          type: boolean
        tags:
          type: string
        status:
          type: integer

    Post:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        content:
          type: string
        summary:
          type: string
        images:
          type: string
        type:
          type: string
        clubId:
          type: integer
        authorId:
          type: integer
        likesCount:
          type: integer
        commentsCount:
          type: integer
        bookmarksCount:
          type: integer
        viewsCount:
          type: integer
        isTop:
          type: boolean
        isOfficial:
          type: boolean
        publishedAt:
          type: string
          format: date-time

    Comment:
      type: object
      properties:
        id:
          type: integer
        postId:
          type: integer
        userId:
          type: integer
        content:
          type: string
        parentId:
          type: integer
        repliesCount:
          type: integer
        likesCount:
          type: integer
        createdAt:
          type: string
          format: date-time

security:
  - ApiKeyAuth: []

paths:
  /api/community/recommend:
    get:
      summary: 获取推荐数据
      description: 获取推荐社团和推荐动态
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'

  /api/clubs:
    get:
      summary: 获取社团列表
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: pageSize
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
    post:
      summary: 创建社团
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                logoUrl:
                  type: string
      responses:
        '200':
          description: 成功

  /api/clubs/{id}:
    get:
      summary: 获取社团详情
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功

  /api/posts:
    get:
      summary: 获取帖子列表
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: pageSize
          in: query
          schema:
            type: integer
        - name: clubId
          in: query
          schema:
            type: integer
        - name: type
          in: query
          schema:
            type: string
    post:
      summary: 创建帖子
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                clubId:
                  type: integer
                images:
                  type: string
      responses:
        '200':
          description: 成功

  /api/comments:
    get:
      summary: 获取评论列表
      parameters:
        - name: postId
          in: query
          required: true
          schema:
            type: integer
    post:
      summary: 发表评论
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                postId:
                  type: integer
                content:
                  type: string
                parentId:
                  type: integer
      responses:
        '200':
          description: 成功
