// $prefix: l !default;
/* #ifndef APP-NVUE || APP || WEB */
@font-face {
  font-family: $prefix;
  src: url('/static/fonts/tdesign/t.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* #endif */

/* #ifdef APP */
@font-face {
  font-family: $prefix;
  src: url('/uni_modules/lime-icon/static/app/t4.ttf');
}
/* #endif */
/* #ifdef WEB */
@font-face {
  font-family: $prefix;
  src: url('/uni_modules/lime-icon/static/web/t4.ttf');
}
/* #endif */